
.logo-row {
    width: 250px;
    margin: 0 auto;
}

.logo {
    width: 100%;
    height: 150px;
    text-align: center;
}

body {
  background-image: url("background.png");
  background-size: contain;
  background-repeat: repeat;
  background-attachment: fixed;
}

.title {
    text-align: center;
}

h1 {
  font-size: 60px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p,
li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}

nav {
  background: black;
  padding: 1rem;
}

nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}
/*
nav ul li {
  display: inline;
}

/*  stile a 3 colonne */

/* container */
.responsive-three-column-grid {
    display:block;
}

/* columns */
.responsive-three-column-grid > * {
    padding:1rem;
}

/* tablet breakpoint */
@media (min-width:768px) {
    .responsive-three-column-grid {
        display: grid;
        grid-auto-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    }
}